body{
    padding: 0;
    margin: 0;
}

#bg{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
nav{
    position: absolute;
    top: 20px;
    display: block;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: Segoi Ui;
  float: right;
}

li {
  float: left;
  margin: 4px;
  font-size: 20px;
  margin-left: 30px;
  color: white;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#in:hover{
  box-shadow: blue;
}
button{
    outline: none;
  border: none;
}
button:focus{
  outline: none;
  border: none;
}
