body{
    padding: 0;
    margin: 0;
}

#bg{
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
nav{
    position: absolute;
    top: 20px;
    display: block;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-family: Segoi Ui;
  float: right;
}

li {
  float: left;
  margin: 4px;
  font-size: 20px;
  margin-left: 30px;
  color: white;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#in:hover{
  box-shadow: blue;
}
button{
    outline: none;
  border: none;
}
button:focus{
  outline: none;
  border: none;
}
#sign{
  height: 30px; 
  width: 100px;
  padding-left: 15px; 
  background-color: white; 
  color: #ff7225;
  transition: 1s;
}
li{
  transition: 1s;
}
li:hover{
  transform: scale(1.1);
}
#sign:hover {
  background-color: #ff7423;
  transform: scale(1.1);
  color: white;
}

.in{
  height: 200px; width: 200px; text-align: center; padding-top: 32px ; border-radius: 10%; margin: 10px; -webkit-box-shadow: 0 0 10px rgb(155, 155, 155);box-shadow: 0 0 10px rgb(155, 155, 155);
}
.in:hover{
  -webkit-box-shadow: 0 0 10px rgb(65, 177, 241);box-shadow: 0 0 10px rgb(65, 177, 241);
}